{% extends 'base.html' %}

{% load static %}

{% block content %} 

<div class="container mt-5" style="display:flex;align-items:center;justify-content:center;">

    <div class="col-md-4 mt-5 mb-4" style="padding:20px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">

      {% for message in messages %}

      <div class="alert alert-primary text-center" role="alert"><strong>{{ message }}</strong></div>

      {% endfor %}

      <h2 class="text-center mb-4" style="padding:10px;background-color:#0D2D6D;color:#ffff;">Opendatastream</h2>

      <h4 class="text-center mb-4">Se connecter</h4>

      <p class="text-center mb-4">Connectez-vous à votre compte Opendatastream</p>

            <form method="post"  enctype="multipart/form-data" style="width:100%;">

                {% csrf_token %}

                <div class="form-group mb-4">
                  <!-- <label>Nom d'utilisateur</label> -->
                  <input type="text" name="username" class="form-control" placeholder="Email">
                </div>

                <div class="form-group mb-4">
                  <!-- <label>Mot de passe</label> -->
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>

                <a href="{% url 'password_reset' %}" class="mt-4">Mot de passe oublié ?</a>

                <button type="submit" class="btn btn-primary mt-4" 
                
                style="width:100%;background-color:#0D2D6D;color:#ffff;border:none;padding:10px;">Connexion</button> 

                <p class="mt-4">Vous n'avez pas de compte ? <a href="{% url 'inscription' %}">Inscription</a></p>
             
              </form>
    </div>
  
</div>

{% endblock content %} 


