
{% extends "base.html" %}

{% load static %}

{% block content %} 


<div class="container mt-5 mb-4 container-home">

    <h1 class="mb-4">La Plateforme ouverte des données publiques</h1> 

    <p class="mb-4">Retrouvez ici une sélection de jeux de données clés regroupés par sujet : </p>

   <!--  {% if user.is_authenticated %}

    <a href="{% url 'add_thematique' %}" style="margin-left:20px; display: flex; align-items: center;">

        <ion-icon name="add-outline" style="font-size: 24px;"></ion-icon>

        <span>Ajouter une thématique</span>

    </a>

    <a href="#" style="display: flex; align-items: center;">

        <ion-icon name="add-outline" style="font-size: 24px;"></ion-icon>

        <span>Ajouter une sous-thématique</span>

    </a>

    {% endif %} -->



    <div class="row g-4">

        {% if user.is_authenticated and user.is_staff %}
          
        <div style="display: flex; align-items: center; gap: 20px;">
            <a href="{% url 'add_thematique' %}" style="display: flex; align-items: center; text-decoration: none;">
                <ion-icon name="add-outline" style="font-size: 24px;"></ion-icon>
                <span style="margin-left: 8px;">Ajouter une thématique</span>
            </a>
            
            <a href="{% url 'add_sous_thematique' %}" style="display: flex; align-items: center; text-decoration: none;">
                <ion-icon name="add-outline" style="font-size: 24px;"></ion-icon>
                <span style="margin-left: 8px;">Ajouter une sous-thématique</span>
            </a>
        </div>
        

        {% endif %}


     {% for thematique in thematiques %}

        <div class="box">

            <a href="{% url 'page_detail' slug=thematique.slug %}" style="text-decoration:none;color:black;" class="card h-100">

                <img class="card-img-top" src="{% if thematique.image and thematique.image.url %}{{ thematique.image.url }}{% else %}https://via.placeholder.com/240x180.jpg{% endif %}" 
                
                width="240" height="180" loading="lazy" alt="Card image cap">

                <div class="card-body d-flex flex-column align-items-start">
                    <h5 class="card-title text-start">{{ thematique.titre }}</h5>
                    <p class="card-text">{{ thematique.description|truncatechars:100 }}</p>
                    <span style="font-size:30px;align-self: end;">&#8594;</span>
                </div>
            </a>
            {% if user.is_authenticated and user.is_staff %}
            <div class="d-flex justify-content-start">
                <a href="{% url 'update_thematique' slug=thematique.slug %}" class="btn btn-primary btn-sm me-2">Modifier</a>
                <a href="{% url 'delete_thematique' slug=thematique.slug %}" class="btn btn-danger btn-sm">Supprimer</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
    

    
     
        
        
        
</div>


{% endblock content %}