
{% extends 'base.html' %}

{% block content %}


<div class="container mt-5" style="border: 1px solid transparent;">

    
    {% if user.is_authenticated and user.is_staff %}

    <div style="display: flex; align-items: center; gap: 20px;justify-content:end;">
        <a href="{% url 'add_sous_thematique' %}"
            style="display: flex; align-items: center; text-decoration: none;">
            <ion-icon name="add-outline" style="font-size: 24px;"></ion-icon>
            <span style="margin-left: 8px;">Ajouter une sous-thématique</span>
        </a>
    </div>

    {% endif %}

    <div class="row">
        <ul style="list-style:none;padding:0;">
            <li><h2>Jeux de données</h2></li>
            <li><p>Rechercher parmi les ..... jeux de données sur <strong>opendatastream</strong></p></li>
        </ul>
    </div>

    <div class="row mb-4">
        <form id="search-form" class="form-inline w-100" action="#" style="border:1px solid transparent;padding:0;">
            <div class="input-group w-100">
                <input id="recherche-input" class="form-control w-100" type="search" placeholder="Recherche..." name="search">
                <div class="input-group-append">
                    <button style="height:100%;display:flex;align-items:center;border:none;position: absolute; top: 50%; transform: translateY(-50%); right:0px;" class="btn btn-outline-secondary" type="submit">
                        <ion-icon name="search-sharp"></ion-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>



<div class="row">

        <div class="col-md-3" style="border: 1px solid #ccc;min-height:1000px;">

<!-- Thématique -->
<label><strong>Thématiques :</strong></label>
<div id="theme-checkboxes">
    <!-- <label><input type="checkbox" name="thematique" value=""> Toutes les thématiques</label><br> -->
    {% for theme in valeurs_uniques_themes %}
        <label><input type="checkbox" name="thematique" value="{{ theme }}"> {{ theme }}</label><br>
    {% endfor %}
</div><br>

<!-- Périodicité -->
<label><strong>Périodicité :</strong></label>
<div id="periodicite-checkboxes">
    <!-- <label><input type="checkbox" name="periodicite" value=""> Toutes les périodes</label><br> -->
    {% for periode in valeurs_uniques_periodicite %}
        <label><input type="checkbox" name="periodicite" value="{{ periode }}"> {{ periode }}</label><br>
    {% endfor %}
</div><br>


         
</div>

     <div class="col-md-9" style="padding-right:0;">

            <div id="subtheme-list" class="row">

            </div>
    </div>
    
</div>


{% endblock content %}



{% block script_extrat %} 


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        function truncateString(str, maxLength) {
            return str.length > maxLength ? str.substring(0, maxLength) + '...' : str;
        }
    
        function getSelectedCheckboxValues(name) {
            return $('input[name="' + name + '"]:checked').map(function() {
                return $(this).val();
            }).get();
        }

        function updateURLParams(params) {
            var urlParams = new URLSearchParams();
            if (params['selected_thematiques'].length > 0) {
                params['selected_thematiques'].forEach(function(value) {
                    urlParams.append('selected_thematiques', value);
                });
            }
            if (params['selected_periodicities'].length > 0) {
                params['selected_periodicities'].forEach(function(value) {
                    urlParams.append('selected_periodicities', value);
                });
            }
            if (params['search']) {
                urlParams.set('search', params['search']);
            }

            var newUrl = urlParams.toString() ? '/tables/?' + urlParams.toString() : '/tables/';
            if (newUrl !== window.location.pathname + window.location.search) {
                history.pushState(params, '', newUrl); // Utiliser pushState pour ajouter une nouvelle entrée à l'historique
            }
        }
    
        function loadFilteredSubThemes(selectedThematiques, selectedPeriodicities, searchTerm) {
            var url = '/filter_sous_thematiques/';
            var params = {};
            if (selectedThematiques.length > 0) {
                params['selected_thematiques'] = selectedThematiques;
            }
            if (selectedPeriodicities.length > 0) {
                params['selected_periodicities'] = selectedPeriodicities;
            }
            if (searchTerm) {
                params['search'] = encodeURIComponent(searchTerm);
            }
            var apiUrl = url + '?' + $.param(params, true);
    
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    var subThemeList = $('#subtheme-list');
                    subThemeList.empty();
                    data.sous_thematiques.forEach(function(subTheme) {
                        var truncatedDescription = truncateString(subTheme.description_sous_thematique, 300);
                        var cardHtml = `
                            <a href="/sous-thematiques/${subTheme.url_slug}/" style="color:#000;">
                                <div class="col-md-12"> 
                                    <div class="card" style="margin-bottom: 20px;">
                                        <div class="card-header">
                                            ${subTheme.thematique_parente}
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">${subTheme.titre}</h5>
                                            <p class="card-text">${truncatedDescription}</p>
                                            <p>Périodicité: ${subTheme.periodicite}</p>
                                        </div>
                                    </div>  
                                </div> 
                            </a>`;
                        subThemeList.append(cardHtml);
                    });
                });
        }
    
        function loadFilteredSubThemesFromUrl() {
            var urlParams = new URLSearchParams(window.location.search);
            var selectedThematiques = urlParams.getAll('selected_thematiques');
            var selectedPeriodicities = urlParams.getAll('selected_periodicities');
            var searchTerm = urlParams.get('search') || '';
    
            $('input[name="thematique"]').prop('checked', false);
            $('input[name="periodicite"]').prop('checked', false);
    
            selectedThematiques.forEach(function(theme) {
                $('input[name="thematique"][value="' + theme + '"]').prop('checked', true);
            });
            selectedPeriodicities.forEach(function(periodicity) {
                $('input[name="periodicite"][value="' + periodicity + '"]').prop('checked', true);
            });
    
            $('#recherche-input').val(searchTerm);
            loadFilteredSubThemes(selectedThematiques, selectedPeriodicities, searchTerm);
        }
    
        loadFilteredSubThemesFromUrl();
    
        $('#theme-checkboxes input[type="checkbox"], #periodicite-checkboxes input[type="checkbox"], #recherche-input').on('input change', function() {
            var selectedThematiques = getSelectedCheckboxValues('thematique');
            var selectedPeriodicities = getSelectedCheckboxValues('periodicite');
            var searchTerm = $('#recherche-input').val();
    
            var params = {
                'selected_thematiques': selectedThematiques,
                'selected_periodicities': selectedPeriodicities,
                'search': searchTerm
            };
    
            updateURLParams(params);
            loadFilteredSubThemes(selectedThematiques, selectedPeriodicities, searchTerm);
        });

        window.onpopstate = function(event) {
            loadFilteredSubThemesFromUrl();
        };
    });
</script>


{% endblock script_extrat %}