{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Ton fichier CSS spécifique -->
<link rel="stylesheet" href="{% static 'css/pages.css' %}">


<div class="container mt-5">

    {% if user.is_authenticated and user.is_staff %}
    <div style="display: flex; align-items: center; justify-content: end; gap: 20px;">
        <a href="{% url 'add_sous_thematique' %}" style="display: flex; align-items: center; text-decoration: none;">
            <ion-icon name="add-outline" style="font-size: 24px;"></ion-icon>
            <span style="margin-left: 8px;">Ajouter une sous-thématique</span>
        </a>
    </div>
    {% endif %}

    <!-- Titre et texte d'intro -->
    <div class="row mb-4">
        <div class="col-md-12">
            <ul style="list-style: none; padding: 0;">
                <li><h2>Jeux de données</h2></li>
                <li><p>Rechercher parmi les ..... jeux de données sur <strong>opendatastream</strong></p></li>
            </ul>
        </div>
    </div>

    <!-- Barre de recherche parfaitement alignée -->
    <div class="row mb-4 no-gutters">
        <div class="col-12" style="padding-left: 0; padding-right: 0;">
            <form class="full-width-search" action="#" method="GET">
                <input id="recherche-input" type="search" placeholder="Recherche..." name="search">
                <button type="submit">
                    <ion-icon name="search-sharp"></ion-icon>
                </button>
            </form>
        </div>
    </div>
    

    <!-- Corps principal avec sidebar + contenu -->
    <div class="row">

        <!-- Sidebar à gauche -->
        <div class="col-md-3 sidebar" style="border: 1px solid #ccc; padding: 0;">

            <div class="sidebar-accordion">
               
                <!--- Thématique -->

                <div class="accordion-item">
                    <button class="accordion-header">
                        Thématiques
                        <ion-icon class="accordion-icon" name="chevron-down-outline"></ion-icon>
                    </button>
                    <div class="accordion-body">
                        {% for theme in valeurs_uniques_themes %}
                            <label><input type="checkbox" name="thematique" value="{{ theme }}"> {{ theme }}</label><br>
                        {% endfor %}
                    </div>
                </div>

                <!--- Périodicité -->
                
                <div class="accordion-item">
                    <button class="accordion-header">
                        Périodicité
                        <ion-icon class="accordion-icon" name="chevron-down-outline"></ion-icon>
                    </button>
                    <div class="accordion-body">
                        {% for periode in valeurs_uniques_periodicite %}
                            <label><input type="checkbox" name="periodicite" value="{{ periode }}"> {{ periode }}</label><br>
                        {% endfor %}
                    </div>
                </div>
                

            </div>
        </div>

        <!-- Zone des résultats -->
        <div class="col-md-9" style="padding-right: 0;">
            <div id="subtheme-list">
                <!-- Résultats dynamiques affichés ici -->
            </div>
        </div>

    </div>

</div>


<script src="{% static 'js/accordion-toggle.js' %}"></script>

{% endblock content %}



{% block script_extrat %} 


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        function truncateString(str, maxLength) {
            return str.length > maxLength ? str.substring(0, maxLength) + '...' : str;
        }
    
        function getSelectedCheckboxValues(name) {
            return $('input[name="' + name + '"]:checked').map(function() {
                return $(this).val();
            }).get();
        }

        function updateURLParams(params) {
            var urlParams = new URLSearchParams();
            if (params['selected_thematiques'].length > 0) {
                params['selected_thematiques'].forEach(function(value) {
                    urlParams.append('selected_thematiques', value);
                });
            }
            if (params['selected_periodicities'].length > 0) {
                params['selected_periodicities'].forEach(function(value) {
                    urlParams.append('selected_periodicities', value);
                });
            }
            if (params['search']) {
                urlParams.set('search', params['search']);
            }

            var newUrl = urlParams.toString() ? '/tables/?' + urlParams.toString() : '/tables/';
            if (newUrl !== window.location.pathname + window.location.search) {
                history.pushState(params, '', newUrl); // Utiliser pushState pour ajouter une nouvelle entrée à l'historique
            }
        }
    
        function loadFilteredSubThemes(selectedThematiques, selectedPeriodicities, searchTerm) {
            var url = '/filter_sous_thematiques/';
            var params = {};
            if (selectedThematiques.length > 0) {
                params['selected_thematiques'] = selectedThematiques;
            }
            if (selectedPeriodicities.length > 0) {
                params['selected_periodicities'] = selectedPeriodicities;
            }
            if (searchTerm) {
                params['search'] = encodeURIComponent(searchTerm);
            }
            var apiUrl = url + '?' + $.param(params, true);
    
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    var subThemeList = $('#subtheme-list');
                    subThemeList.empty();
                    data.sous_thematiques.forEach(function(subTheme) {
                        var truncatedDescription = truncateString(subTheme.description_sous_thematique, 300);
                        var cardHtml = `
                            <a href="/sous-thematiques/${subTheme.url_slug}/" style="color:#000;">
                                <div class="col-md-12"> 
                                    <div class="card" style="margin-bottom: 20px;">
                                        <div class="card-header">
                                            ${subTheme.thematique_parente}
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">${subTheme.titre}</h5>
                                            <p class="card-text">${truncatedDescription}</p>
                                            <p>Périodicité: ${subTheme.periodicite}</p>
                                        </div>
                                    </div>  
                                </div> 
                            </a>`;
                        subThemeList.append(cardHtml);
                    });
                });
        }
    
        function loadFilteredSubThemesFromUrl() {
            var urlParams = new URLSearchParams(window.location.search);
            var selectedThematiques = urlParams.getAll('selected_thematiques');
            var selectedPeriodicities = urlParams.getAll('selected_periodicities');
            var searchTerm = urlParams.get('search') || '';
    
            $('input[name="thematique"]').prop('checked', false);
            $('input[name="periodicite"]').prop('checked', false);
    
            selectedThematiques.forEach(function(theme) {
                $('input[name="thematique"][value="' + theme + '"]').prop('checked', true);
            });
            selectedPeriodicities.forEach(function(periodicity) {
                $('input[name="periodicite"][value="' + periodicity + '"]').prop('checked', true);
            });
    
            $('#recherche-input').val(searchTerm);
            loadFilteredSubThemes(selectedThematiques, selectedPeriodicities, searchTerm);
        }
    
        loadFilteredSubThemesFromUrl();
    
        $('input[name="thematique"], input[name="periodicite"], #recherche-input').on('input change', function() {
            var selectedThematiques = getSelectedCheckboxValues('thematique');
            var selectedPeriodicities = getSelectedCheckboxValues('periodicite');
            var searchTerm = $('#recherche-input').val();

            var params = {
                'selected_thematiques': selectedThematiques,
                'selected_periodicities': selectedPeriodicities,
                'search': searchTerm
            };

            updateURLParams(params);
            loadFilteredSubThemes(selectedThematiques, selectedPeriodicities, searchTerm);
        });


        window.onpopstate = function(event) {
            loadFilteredSubThemesFromUrl();
        };
    });
</script>



{% endblock script_extrat %}