<!-- Template : pages/thematique_detail.html -->

{% extends "base.html" %}

{% load static %}

{% block content %} 

<div class="container mt-5">

    <link rel="stylesheet" href="{% static 'css/pages.css' %}">

    <h1 class="mb-4">Données relatives à la thématique : {{ thematiques.titre }}</h1>

    <div class="row">

        <!-- Sidebar (Filtres) -->
        <div class="col-md-3 sidebar" style="border: 1px solid #ccc; padding: 0;">
            <div class="sidebar-accordion">
                
                <!-- Thématiques -->
                <div class="accordion-item">
                    <button class="accordion-header">
                        Thématiques
                        <ion-icon class="accordion-icon" name="chevron-down-outline"></ion-icon>
                    </button>
                    <div class="accordion-body">
                        <div id="theme-detail-checkboxes">
                            {% for titre in titres_uniques %}
                                <label><input type="checkbox" name="thematique" value="{{ titre }}"> {{ titre }}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Périodicité -->
                <div class="accordion-item">
                    <button class="accordion-header">
                        Périodicité
                        <ion-icon class="accordion-icon" name="chevron-down-outline"></ion-icon>
                    </button>
                    <div class="accordion-body">
                        <div id="periodicite-detail-checkboxes">
                            {% for periode in periodicites_uniques %}
                                <label><input type="checkbox" name="periodicite" value="{{ periode }}"> {{ periode }}</label><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Main Panel (Sous-thématiques) -->
        <div class="col-md-9" style="padding-right: 0;">
            <div id="sous-thematiques-list">
                <!-- Résultats dynamiques affichés ici -->
            </div>
        </div>

    </div>

</div>

{% endblock content %}

{% block script_extrat %} 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'js/accordion-toggle.js' %}"></script> 

<script>var thematiqueSlug = "{{ thematiques.slug }}";</script>

<script src="{% static 'js/filter_sous_thematiques.js' %}"></script> 


{% endblock script_extrat %}
